body{
background: url("backcon.001.jpeg") no-repeat fixed center;
font-family: 'Sriracha', cursive;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
    margin: 1% 0 1% 1.6%;
    text-align: center;
}


.col:first-child { margin-left: 10px; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_1_of_3 {
    width: 14.2%;
    border-style: double;
border-radius: 10px;
color: black;
 height: 300px;
   
 overflow: scroll;
 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

a{
text-decoration: none;
color: black;
}

.con{
    text-align: left;
}

h3{
    position: -webkit-sticky;
  position: sticky;
   background-color: white; 
  top: 0;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}